 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 80px;
  margin: 3px auto 0 11px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 29px;
  min-height: 16px;
  width: 126px;
  min-width: 88px;
  margin: -54px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -26px 28px 0 813px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -21px auto 32px 172px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: -58px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -22px;
    margin-right: 32px;
    margin-left: 661px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: -32px 687px 22px 187px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    width: 126px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 50px;
    margin-left: 608px;
  }

  .u-section-1 .u-text-2 {
    margin: -42px 583px 12px 176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    left: 18px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-1 {
    margin: -25px 18px 39px 469px;
  }

  .u-section-1 .u-text-2 {
    margin: -50px 402px 60px 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    left: 0;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 26px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-text-1 {
    margin: 25px 47px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 274px;
    margin-left: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    height: 90px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 18px auto 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    margin: -25px 32px 39px 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
    margin-left: 108px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/c26e99a62a898e8299d4d222d9be5d72150a1b683ff99a8be191f891bb66294b6605bf0e304f0f5e011ed35e8f9174a1be12120e5639d65ae09d7b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 560px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 127px 81px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 22px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  width: 840px;
  margin: 20px auto 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 693px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 629px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/cfde7e762b3d9dce176cb19d6c44a31e0a1ca698fbba64ce5ee1d4807f27dbd59ecdd433bcf5a2703d19f6487594e26c7b6f18d48e56c76bf98537_1280.jpg");
  background-position: 50% 50%;
  min-height: 629px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-3 .u-image-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 671px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.625rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 382px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 786px;
}

.u-section-4 .u-image-1 {
  height: 457px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1097px;
  margin: -253px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 506px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 27px 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  text-transform: none;
  margin: 18px 2px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 508px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px 47px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 11px 204px 0 74px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px 47px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 6px 112px 0 74px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-4 {
    width: 270px;
    margin-right: 232px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 570px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 35px;
    margin-right: 165px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 73px;
    margin-left: 35px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 512px;
  }

  .u-section-4 .u-image-1 {
    height: 495px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 90px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 429px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    margin-right: 70px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px 0 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-list-1 {
  margin: 70px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 624px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-icon-1 {
  width: 84px;
  background-image: none;
  height: 84px;
  margin: 26px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-3 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 26px 1px 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-icon-2 {
  width: 84px;
  background-image: none;
  height: 84px;
  margin: 26px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-5 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 26px 1px 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-icon-3 {
  width: 84px;
  background-image: none;
  height: 84px;
  margin: 26px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-7 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 26px 1px 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-icon-4 {
  width: 84px;
  background-image: none;
  height: 84px;
  margin: 26px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-9 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-5 .u-text-10 {
  margin: 26px 1px 0;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px;
}

.u-section-5 .u-icon-5 {
  width: 84px;
  background-image: none;
  height: 84px;
  margin: 26px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-11 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-5 .u-text-12 {
  margin: 26px 1px 0;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px;
}

.u-section-5 .u-icon-6 {
  width: 84px;
  background-image: none;
  height: 84px;
  margin: 26px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-13 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin: 37px 0 0;
}

.u-section-5 .u-text-14 {
  margin: 26px 1px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 539px;
  }

  .u-section-5 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-5 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-item-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 765px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}