 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 80px;
  margin: 3px auto 0 11px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 29px;
  min-height: 16px;
  width: 126px;
  min-width: 88px;
  margin: -54px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -26px 28px 0 813px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -21px auto 32px 172px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: -58px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -22px;
    margin-right: 32px;
    margin-left: 661px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: -32px 687px 22px 187px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    width: 126px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 50px;
    margin-left: 608px;
  }

  .u-section-1 .u-text-2 {
    margin: -42px 583px 12px 176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    left: 18px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-1 {
    margin: -25px 18px 39px 469px;
  }

  .u-section-1 .u-text-2 {
    margin: -50px 402px 60px 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    left: 0;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 26px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-text-1 {
    margin: 25px 47px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 274px;
    margin-left: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    height: 90px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 18px auto 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    margin: -25px 32px 39px 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
    margin-left: 108px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/0781a680334d767f43cd0ff12dd18ba4a2dde872a1a35327bae6b7c69381f9397e164356f0a1f4c18951d004eb2fdde8faaaa2cc8146845e10ebaa_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 663px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 16px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 9px 50px 0 30px;
}

.u-section-2 .u-form-1 {
  height: 519px;
  width: 510px;
  margin: 9px 30px 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 663px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  text-transform: none;
  margin: 21px 0 0;
}

.u-section-2 .u-map-1 {
  height: 296px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-list-1 {
  grid-auto-rows: 100%;
  margin: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-2 .u-text-5 {
    width: 404px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 470px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    width: 300px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}