 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 80px;
  margin: 3px auto 0 11px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 29px;
  min-height: 16px;
  width: 126px;
  min-width: 88px;
  margin: -54px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: -25px 32px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -22px auto 0 172px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
    height: 94px;
    margin-top: 4px;
    margin-left: 15px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -69px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -26px;
    margin-right: -24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -22px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 131px;
    height: 79px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: -55px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 3px;
    margin-left: 29px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -54px;
    margin-right: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 65px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin: -45px 29px 43px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/WhatsAppImage2022-07-11at5.23.07PM.jpeg");
  background-position: 50% 56.57%;
}

.u-section-2 .u-sheet-1 {
  min-height: 485px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 70px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  margin: 13px 110px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 184px;
    margin-left: 90px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 71px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    margin-left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -25px;
    margin-right: -25px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-tabs-1 {
  min-height: 581px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-4 .u-tab-list-1 {
  background-image: none;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 450px;
  height: 400px;
  object-position: 50% 41.67%;
  margin: 45px auto 0 45px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: -400px 39px 0 543px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 11px 31px 0 543px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0 564px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 12px 366px 0 544px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 55px 0 0;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 450px;
  height: 400px;
  object-position: 50% 50.24%;
  margin: 45px auto 0 45px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: -400px 30px 0 552px;
}

.u-section-4 .u-text-7 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 31px 30px 0 552px;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  background-image: none;
  margin: 220px 0 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 593px;
    margin-top: 29px;
    margin-bottom: 29px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -399px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 205px;
    margin-left: 522px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 61px;
    margin-left: 525px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 234px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 488px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    width: 337px;
    height: 300px;
    margin-top: 25px;
    margin-left: 25px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-left: 393px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 393px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 407px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 190px;
    margin-left: 387px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 24px;
  }

  .u-section-4 .u-image-2 {
    width: 337px;
    height: 300px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 4px;
    margin-left: 410px;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 472px;
    margin-top: 64px;
  }

  .u-section-4 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -21128px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
    margin-right: 308px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 22px;
  }

  .u-section-4 .u-image-2 {
    width: 303px;
    height: 377px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 489px;
  }

  .u-section-4 .u-tab-link-1 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-4 .u-image-1 {
    margin-top: -89241px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 1px;
    margin-right: 195px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    width: 178px;
    height: 178px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 12px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 12px;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.75rem;
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 476px;
  }

  .u-section-4 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -90118px;
    margin-left: 3px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 13px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-image-2 {
    height: 226px;
    width: 337px;
    margin-left: 3px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 13px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-5 .u-tabs-1 {
  min-height: 581px;
  margin-top: 31px;
  margin-bottom: 39px;
}

.u-section-5 .u-tab-list-1 {
  background-image: none;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 450px;
  height: 400px;
  object-position: 50% 41.67%;
  margin: 45px auto 0 45px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: -400px 39px 0 543px;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 11px 40px 0 543px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0 564px;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  width: 233px;
  margin: 11px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 24px 0 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 44px 31px 0 551px;
}

.u-section-5 .u-image-2 {
  width: 450px;
  height: 400px;
  object-position: 50% 50.24%;
  margin: -28px auto 0 45px;
}

.u-section-5 .u-text-7 {
  line-height: 1.8;
  font-size: 1rem;
  margin: -337px 30px 0 552px;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  margin: 156px 0 0;
}

@media (max-width: 1399px) {
  .u-section-5 .u-tabs-1 {
    min-height: 593px;
    margin-top: 29px;
    margin-bottom: 29px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -399px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 405px;
    margin-left: 522px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-right: 61px;
    margin-left: 525px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -29px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -349px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 105px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    min-height: 488px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-image-1 {
    width: 337px;
    height: 300px;
    margin-top: 25px;
    margin-left: 22px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-left: 393px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 393px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 407px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 320px;
    margin-left: 387px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 24px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-5 .u-image-2 {
    width: 337px;
    height: 300px;
    margin-top: -24px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -272px;
    margin-left: 410px;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-tabs-1 {
    min-height: 455px;
  }

  .u-section-5 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -21128px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 5px;
    margin-right: 430px;
    margin-left: 56px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 18px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 303px;
    height: 377px;
    margin-top: -238px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.75rem;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-tabs-1 {
    min-height: 489px;
    margin-top: 15px;
    margin-bottom: 14px;
  }

  .u-section-5 .u-tab-link-1 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-5 .u-image-1 {
    width: 100px;
    height: 89px;
    margin-top: -89241px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 1px;
    margin-right: 341px;
    margin-left: 29px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 12px;
  }

  .u-section-5 .u-image-2 {
    width: 178px;
    height: 178px;
    margin-top: -13284px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 13296px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-tabs-1 {
    min-height: 476px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-5 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -90118px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: 17px;
    margin-left: 37px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 175px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.625rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-image-2 {
    height: 226px;
    width: 337px;
    margin-top: -13647px;
    margin-left: 3px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 13659px;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 6px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6 .u-tabs-1 {
  min-height: 624px;
  margin-top: 13px;
  margin-bottom: 13px;
  height: auto;
}

.u-section-6 .u-tab-list-1 {
  background-image: none;
}

.u-section-6 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-6 .u-tab-pane-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 450px;
  height: 400px;
  object-position: 50% 41.67%;
  margin: 45px auto 0 45px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: -400px 39px 0 543px;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 11px 40px 0 543px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0 564px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  width: 233px;
  margin: 11px auto 0;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  margin: -154px 315px 0 735px;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 62px 0 0;
}

.u-section-6 .u-tab-pane-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 450px;
  height: 400px;
  object-position: 50% 50.24%;
  margin: 45px auto 0 45px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  margin: -401px 30px 0 552px;
}

.u-section-6 .u-text-8 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 30px 30px 0 552px;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  margin: 84px 0 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-6 .u-tabs-1 {
    min-height: 650px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -399px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 450px;
    margin-left: 522px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -128px;
    margin-right: 167px;
    margin-left: 711px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: -400px;
    margin-right: 61px;
    margin-left: 525px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 62px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-6 .u-tabs-1 {
    min-height: 540px;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-6 .u-image-1 {
    width: 337px;
    height: 300px;
    margin-top: 0;
    margin-left: 22px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-left: 393px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 393px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 407px;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 320px;
    margin-left: 387px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -178px;
    margin-right: 125px;
    margin-left: 545px;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 68px;
  }

  .u-section-6 .u-image-2 {
    width: 337px;
    height: 300px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-left: 410px;
  }

  .u-section-6 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 4px;
    margin-left: 410px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-tabs-1 {
    min-height: 550px;
  }

  .u-section-6 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 100px;
    height: 89px;
    margin-top: -907px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 5px;
    margin-right: 430px;
    margin-left: 56px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -112px;
    margin-right: 199px;
    margin-left: 255px;
    font-size: 0.875rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 11px;
  }

  .u-section-6 .u-image-2 {
    width: 303px;
    height: 377px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.75rem;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-tabs-1 {
    min-height: 520px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-tab-link-1 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-6 .u-tab-link-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -14584px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-right: 341px;
    margin-left: 29px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -96px;
    margin-right: 75px;
    margin-left: 228px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 12px;
    margin-bottom: -10px;
  }

  .u-section-6 .u-image-2 {
    width: 178px;
    height: 178px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    font-size: 0.75rem;
    margin-top: 33px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-tabs-1 {
    min-height: 597px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .u-section-6 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -14698px;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 37px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 21px;
    margin-left: 38px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 175px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -95px;
    margin-right: 14px;
    margin-left: 139px;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 13px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    height: 226px;
    width: 100px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.875rem;
    margin-left: 525px;
    margin-right: 61px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 525px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.625rem;
    margin-top: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 650px;
}

.u-section-7 .u-tabs-1 {
  min-height: 581px;
  margin-top: 31px;
  margin-bottom: 39px;
}

.u-section-7 .u-tab-list-1 {
  background-image: none;
}

.u-section-7 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-pane-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 450px;
  height: 400px;
  object-position: 50% 41.67%;
  margin: 45px auto 0 45px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: -400px 39px 0 543px;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 11px 40px 0 543px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0 564px;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  width: 233px;
  margin: 11px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 111px 0 0;
}

.u-section-7 .u-tab-pane-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  margin: 44px 31px 0 551px;
}

.u-section-7 .u-image-2 {
  width: 450px;
  height: 400px;
  object-position: 50% 50.24%;
  margin: -28px auto 0 45px;
}

.u-section-7 .u-text-7 {
  line-height: 1.8;
  font-size: 1rem;
  margin: -337px 30px 0 552px;
}

.u-section-7 .u-text-8 {
  font-size: 1rem;
  margin: 156px 0 0;
}

@media (max-width: 1399px) {
  .u-section-7 .u-tabs-1 {
    min-height: 593px;
    margin-top: 29px;
    margin-bottom: 29px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -399px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 405px;
    margin-left: 522px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 91px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-right: 61px;
    margin-left: 525px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -29px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: -349px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 141px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-tabs-1 {
    min-height: 488px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-1 {
    width: 337px;
    height: 300px;
    margin-top: 25px;
    margin-left: 22px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-left: 393px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 393px;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 407px;
  }

  .u-section-7 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 320px;
    margin-left: 387px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 48px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-7 .u-image-2 {
    width: 337px;
    height: 300px;
    margin-top: -24px;
  }

  .u-section-7 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -272px;
    margin-left: 410px;
  }

  .u-section-7 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-tabs-1 {
    min-height: 455px;
  }

  .u-section-7 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -21128px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 5px;
    margin-right: 430px;
    margin-left: 56px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 18px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 303px;
    height: 377px;
    margin-top: -238px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    font-size: 0.75rem;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-tabs-1 {
    min-height: 489px;
    margin-top: 15px;
    margin-bottom: 14px;
  }

  .u-section-7 .u-tab-link-1 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-7 .u-tab-link-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-7 .u-image-1 {
    width: 100px;
    height: 89px;
    margin-top: -89241px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-7 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 1px;
    margin-right: 341px;
    margin-left: 29px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 29px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 12px;
  }

  .u-section-7 .u-image-2 {
    width: 178px;
    height: 178px;
    margin-top: -13284px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-tabs-1 {
    min-height: 476px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-7 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-7 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -90118px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-3 {
    margin-top: 17px;
    margin-left: 37px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 175px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 25px;
  }

  .u-section-7 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-image-2 {
    height: 226px;
    width: 337px;
    margin-top: -13647px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 650px;
}

.u-section-8 .u-tabs-1 {
  min-height: 581px;
  margin-top: 31px;
  margin-bottom: 39px;
}

.u-section-8 .u-tab-list-1 {
  background-image: none;
}

.u-section-8 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-pane-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 450px;
  height: 400px;
  object-position: 50% 41.67%;
  margin: 45px auto 0 45px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  margin: -400px 39px 0 543px;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 11px 40px 0 543px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0 564px;
}

.u-section-8 .u-text-4 {
  font-size: 1rem;
  width: 233px;
  margin: 11px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 24px 0 0;
}

.u-section-8 .u-tab-pane-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.5rem;
  margin: 44px 31px 0 551px;
}

.u-section-8 .u-image-2 {
  width: 450px;
  height: 400px;
  object-position: 50% 50.24%;
  margin: -28px auto 0 45px;
}

.u-section-8 .u-text-7 {
  line-height: 1.8;
  font-size: 1rem;
  margin: -337px 30px 0 552px;
}

.u-section-8 .u-text-8 {
  font-size: 1rem;
  margin: 156px 0 0;
}

@media (max-width: 1399px) {
  .u-section-8 .u-tabs-1 {
    min-height: 593px;
    margin-top: 29px;
    margin-bottom: 29px;
    height: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -399px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 405px;
    margin-left: 522px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-right: 61px;
    margin-left: 525px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -29px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: -349px;
    margin-right: 0;
    margin-left: 525px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 105px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-tabs-1 {
    min-height: 488px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-image-1 {
    width: 337px;
    height: 300px;
    margin-top: 25px;
    margin-left: 22px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -300px;
    margin-left: 393px;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 393px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: 407px;
  }

  .u-section-8 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 320px;
    margin-left: 387px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 24px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-8 .u-image-2 {
    width: 337px;
    height: 300px;
    margin-top: -24px;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -272px;
    margin-left: 410px;
  }

  .u-section-8 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-tabs-1 {
    min-height: 455px;
  }

  .u-section-8 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-8 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -21128px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 5px;
    margin-right: 430px;
    margin-left: 56px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 18px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 303px;
    height: 377px;
    margin-top: -238px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    font-size: 0.75rem;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-tabs-1 {
    min-height: 489px;
    margin-top: 15px;
    margin-bottom: 14px;
  }

  .u-section-8 .u-tab-link-1 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-8 .u-tab-link-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .u-section-8 .u-image-1 {
    width: 100px;
    height: 89px;
    margin-top: -89241px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 1px;
    margin-right: 341px;
    margin-left: 29px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 12px;
  }

  .u-section-8 .u-image-2 {
    width: 178px;
    height: 178px;
    margin-top: -13284px;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 13296px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-tabs-1 {
    min-height: 476px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-8 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-8 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -90118px;
  }

  .u-section-8 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-text-3 {
    margin-top: 17px;
    margin-left: 37px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 175px;
    margin-left: 20px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.625rem;
  }

  .u-section-8 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-8 .u-image-2 {
    height: 226px;
    width: 337px;
    margin-top: -13647px;
    margin-left: 3px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 13659px;
  }

  .u-section-8 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 6px;
  }
}