.u-section-1 .u-sheet-1 {
  min-height: 158px;
}

.u-section-1 .u-image-1 {
  width: 227px;
  height: 136px;
  margin: 12px auto 0 60px;
}

.u-section-1 .u-text-1 {
  margin: -120px 300px 0 394px;
}

.u-section-1 .u-text-2 {
  margin: 12px 300px 28px 394px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 210px;
    margin-left: 304px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 626px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 626px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(51,49,41,0.45), rgba(51,49,41,0.45)), url("images/WhatsAppImage2021-12-06at12.41.35PM.jpeg");
  background-position: 50% 32.67%;
  min-height: 198px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 74px calc(((100% - 1320px) / 2) + 254px) 0 auto;
  padding: 10px 23px 10px 22px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -48px calc(((100% - 1320px) / 2)) 60px auto;
  padding: 10px 50px 10px 48px;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 480px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 389px;
    margin-right: calc(((100% - 1140px) / 2) + 271px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2));
    margin-bottom: 59px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 580px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 481px;
    margin-right: calc(((100% - 940px) / 2) + 270px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 623px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 518px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 227px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 580px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 497px;
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 472px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -130px;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 314px;
}

.u-section-3 .u-group-1 {
  width: 782px;
  min-height: 236px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 55px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 60px 0;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  width: 260px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px auto 0 0;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  width: 270px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -3px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 22px 60px 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.9;
  font-size: 1rem;
  margin: 4px 60px 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-line-2 {
    transform-origin: right center 0px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-group-1 {
    min-height: 344px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 60px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: left center 0px;
    width: 170px;
    height: 3px;
    margin-top: -13px;
  }

  .u-section-3 .u-line-2 {
    width: 170px;
    height: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-3 .u-group-1 {
    min-height: 261px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 120px;
  }

  .u-section-3 .u-line-2 {
    width: 120px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 321px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 320px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 38px 195px 0 210px;
}

.u-section-4 .u-line-1 {
  width: 257px;
  transform-origin: left center 0px;
  margin: 10px 172px 0 auto;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 10px 0 4px;
}

.u-section-4 .u-image-1 {
  min-height: 320px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2022-05-31at7.26.57PM.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 209px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 303px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-4 .u-image-1 {
    min-height: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-4 .u-image-1 {
    min-height: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 19px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 640px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 409px;
    order: 1;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 393px;
    order: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 682px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 214px 0 auto;
}

.u-section-5 .u-list-1 {
  width: 637px;
  grid-template-rows: auto auto auto;
  margin: 23px 46px 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 556px;
}

.u-section-5 .u-container-layout-1 {
  padding: 8px 13px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 17px 0 119px;
}

.u-section-5 .u-icon-1 {
  height: 25px;
  width: 25px;
  background-image: none;
  margin: -27px auto 0 79px;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  margin: 3px 0 0 119px;
}

.u-section-5 .u-list-item-2 {
  background-size: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 8px 13px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 17px 0 119px;
}

.u-section-5 .u-icon-2 {
  height: 25px;
  width: 25px;
  background-image: none;
  margin: -27px auto 0 79px;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 3px 0 0 119px;
}

.u-section-5 .u-list-item-3 {
  background-size: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 13px;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 17px 0 119px;
}

.u-section-5 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
  margin: -27px auto 0 79px;
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 3px 0 0 119px;
}

.u-section-5 .u-list-item-4 {
  background-size: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 8px 13px;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 17px 0 119px;
}

.u-section-5 .u-icon-4 {
  height: 25px;
  width: 25px;
  background-image: none;
  margin: -27px auto 0 79px;
  padding: 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  margin: 3px 0 0 119px;
}

.u-section-5 .u-image-1 {
  width: 498px;
  height: 599px;
  filter: brightness(0.75);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -632px auto 0 62px;
}

.u-section-5 .u-line-1 {
  width: 584px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -537px 58px 567px auto;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 615px;
  }

  .u-section-5 .u-icon-1 {
    height: 30px;
    width: 30px;
    color: rgb(86, 180, 140);
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -3px;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(86, 180, 140);
    height: 30px;
    width: 30px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -3px;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(86, 180, 140);
    height: 30px;
    width: 30px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -3px;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(86, 180, 140);
    height: 30px;
    width: 30px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -3px;
  }

  .u-section-5 .u-image-1 {
    width: 449px;
    height: 605px;
    margin-top: -710px;
    margin-left: 40px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -530px;
    margin-right: 38px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 70px;
    margin-left: 84px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -639px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 53px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -710px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -664px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-top: 41px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-5 .u-text-2 {
    width: 348px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -29px;
    margin-left: 41px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -4px;
    margin-left: 86px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-5 .u-text-4 {
    width: 348px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -29px;
    margin-left: 41px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -4px;
    margin-left: 86px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-5 .u-text-6 {
    width: 348px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -29px;
    margin-left: 41px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -4px;
    margin-left: 86px;
  }

  .u-section-5 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-5 .u-text-8 {
    width: 348px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-4 {
    margin-top: -29px;
    margin-left: 41px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -4px;
    margin-left: 86px;
  }

  .u-section-5 .u-line-1 {
    width: 432px;
    margin-top: -659px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1016px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: -30px;
    margin-left: 50px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -30px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
    margin-left: 50px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-right: -30px;
    margin-left: 50px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -30px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 0;
    margin-left: 50px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-right: -30px;
    margin-left: 50px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -30px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
    margin-left: 50px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 22px;
    margin-right: -30px;
    margin-left: 50px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: -30px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 0;
    margin-left: 50px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 458px;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    width: 253px;
    margin-top: -1042px;
  }
}