 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 80px;
  margin: 3px auto 0 11px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 29px;
  min-height: 16px;
  width: 126px;
  min-width: 88px;
  margin: -54px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -26px 28px 0 813px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -21px auto 32px 172px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: -58px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -22px;
    margin-right: 32px;
    margin-left: 661px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: -32px 687px 22px 187px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    width: 126px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 50px;
    margin-left: 608px;
  }

  .u-section-1 .u-text-2 {
    margin: -42px 583px 12px 176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    left: 18px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-1 {
    margin: -25px 18px 39px 469px;
  }

  .u-section-1 .u-text-2 {
    margin: -50px 402px 60px 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    left: 0;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 26px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-text-1 {
    margin: 25px 47px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 274px;
    margin-left: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    height: 90px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 18px auto 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    margin: -25px 32px 39px 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
    margin-left: 108px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/25adf3537ddefffb1fecca26c517688dbd7ac09ff256f70b8a93002fc755683092866f9907b72dec0154bb2eb873156f204168abda2fad523ead3b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 560px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 124px 81px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 22px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  width: 840px;
  margin: 28px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 175px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 471px;
}

.u-section-3 .u-tabs-1 {
  min-height: 470px;
  margin: 1px 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 408px;
  width: 660px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 25px 18px 0 26px;
}

.u-section-3 .u-text-2 {
  margin: 17px 38px 0 46px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 24px 140px 0 46px;
}

.u-section-3 .u-text-4 {
  margin: 11px 38px 0 46px;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.75);
  width: 658px;
  left: 0;
  right: auto;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 681px;
  margin: 36px auto 0 53px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 18px) calc(50% - 18px);
  min-height: 347px;
  grid-gap: 36px 36px;
}

.u-section-3 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-3 .u-image-2 {
  width: 203px;
  height: 203px;
  background-image: url("images/726be47bdb75e6a5a2268006764f659388fce97d4fead0ded6f79ae8b9d3eb0693dbbe68eff7a46f0eaa651c3c3ab374a1c9e9ffd3c564caa4f432_1280.png");
  background-position: 50% 50%;
  margin: 9px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 15px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 5px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 7px 0;
}

.u-section-3 .u-image-3 {
  width: 203px;
  height: 203px;
  background-image: url("images/Screenshot2022-06-20105244.png");
  background-position: 50% 50%;
  margin: 9px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: -313px 190px 0 auto;
}

.u-section-3 .u-text-10 {
  font-style: normal;
  margin: 15px 59px 0 811px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-3 .u-list-2 {
  grid-template-rows: auto;
  width: 1267px;
  margin: 20px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 38px) calc(33.3333% - 38px) calc(33.3333% - 38px);
  min-height: 378px;
  grid-gap: 57px 57px;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px 0;
}

.u-section-3 .u-text-11 {
  margin: 1px auto 0;
}

.u-section-3 .u-text-12 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 7px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-3 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Screenshot2022-06-16104715.png");
  background-position: 100% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 30px 0;
}

.u-section-3 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px 30px 0;
}

.u-section-3 .u-text-14 {
  margin: 1px auto 0;
}

.u-section-3 .u-text-15 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 7px 0 0;
}

.u-section-3 .u-text-16 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-top: 5px;
  }

  .u-section-3 .u-text-2 {
    width: 397px;
  }

  .u-section-3 .u-image-1 {
    width: 546px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -347px;
    margin-right: 165px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 749px;
  }

  .u-section-3 .u-list-2 {
    width: 1080px;
  }

  .u-section-3 .u-repeater-2 {
    grid-gap: 8px 8px;
    min-height: 322px;
    grid-template-columns: calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px) calc(33.3333% - 5.33333px);
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 587px;
    margin-bottom: 0;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-image-1 {
    width: 342px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 56px;
    margin-left: 33px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 329px;
    grid-gap: 18px 18px;
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: -313px;
    margin-right: 116px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 15px;
    margin-left: 598px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-list-2 {
    width: 880px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 720px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-list-1 {
    width: 680px;
    margin-top: 54px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    width: 124px;
    height: 124px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    width: 124px;
    height: 124px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 15px;
    margin-right: 234px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 3px;
    margin-right: 184px;
    margin-left: 210px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-list-2 {
    width: 688px;
    margin-top: 0;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 601px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-11 {
    margin-top: 13px;
  }

  .u-section-3 .u-image-4 {
    background-position: 100% 34.47%;
  }

  .u-section-3 .u-text-14 {
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 873px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 4px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 102px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-9 {
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    width: 326px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 2px;
    margin-bottom: -150px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 753px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 938px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 16px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}

.u-block-db14-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-db14-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db14-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-db14-55:not([data-block-selected]):not([data-cell-selected]),
.u-block-db14-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db14-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-db14-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-db14-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db14-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}.u-section-5 .u-sheet-1 {
  min-height: 432px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 36px 472px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 287px;
  height: 287px;
  background-image: url("images/Screenshot2022-06-20105244.png");
  background-position: 43.66% 50%;
  margin: -23px auto 0 49px;
}

.u-section-5 .u-icon-1 {
  height: 185px;
  width: 185px;
  margin: -239px 87px 0 auto;
  padding: 16px;
}

.u-section-5 .u-text-2 {
  transition-duration: 0.5s;
  font-size: 1rem;
  font-style: normal;
  margin: -184px 341px 0 381px;
}

.u-section-5 .u-text-3 {
  margin: 18px 531px 0 381px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -54px 33px 0 994px;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 11px 991px 43px 56px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 407px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -264px;
    margin-right: 82px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -173px;
    margin-right: 339px;
    margin-left: 396px;
  }

  .u-section-5 .u-text-3 {
    width: 344px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -140px;
    margin-right: 28px;
    margin-left: 819px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 30px;
    margin-right: 811px;
    margin-bottom: -304px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: -48px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -239px;
    margin-right: 36px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -185px;
    margin-right: 259px;
    margin-left: 302px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -150px;
    margin-right: -27px;
    margin-left: 673px;
  }

  .u-section-5 .u-text-5 {
    margin: 26px 667px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 46px;
    margin-right: 129px;
  }

  .u-section-5 .u-image-1 {
    width: 229px;
    height: 229px;
    margin-top: -28px;
  }

  .u-section-5 .u-icon-1 {
    height: 130px;
    width: 130px;
    margin-top: -44px;
    margin-right: 11px;
    padding: 11px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -287px;
    margin-right: 0;
    margin-left: 254px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 122px;
    margin-left: 254px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -37px;
    margin-right: -8px;
    margin-left: 560px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -123px;
    margin-right: 491px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 257px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    width: 178px;
    height: 178px;
    margin-top: -269px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-1 {
    height: 136px;
    width: 136px;
    margin-top: 313px;
    margin-right: 21px;
  }

  .u-section-5 .u-text-2 {
    width: 409px;
    margin-top: -346px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 11px;
    margin-right: 138px;
    margin-left: 66px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -8px;
    margin-right: -35px;
    margin-left: 327px;
  }

  .u-section-5 .u-text-5 {
    width: 334px;
    margin-top: -498px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 39px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-image-1 {
    width: 136px;
    height: 136px;
    margin-top: -270px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 513px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -516px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 147px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin: -659px 3px 434px;
  }
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before,
.u-section-5 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before,
.u-section-5 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-5 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 141px;
}

.u-section-6 .u-group-1 {
  width: 672px;
  min-height: 114px;
  margin: 14px auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 213px 0 208px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 15px 20px 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    width: 251px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }
}.u-block-d07e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d07e-3 {
  position: absolute;
  left: calc(((100% - 1320px) / 2) + -42px);
  width: 39px;
  height: 39px;
  top: 122px;
  right: auto;
}

.u-block-d07e-4 {
  position: absolute;
  width: 39px;
  height: 39px;
  left: auto;
  top: 115px;
  right: calc(((100% - 1320px) / 2) + -45px);
}

@media (max-width: 1399px) {
  .u-block-d07e-3 {
    left: calc(((100% - 1140px) / 2)  + -36px);
  }

  .u-block-d07e-4 {
    right: calc(((100% - 1140px) / 2)  + -39px);
  }
}

@media (max-width: 1199px) {
  .u-block-d07e-3 {
    left: calc(((100% - 940px) / 2)  + -30px);
  }

  .u-block-d07e-4 {
    right: calc(((100% - 940px) / 2)  + -32px);
  }
}

@media (max-width: 991px) {
  .u-block-d07e-3 {
    left: calc(((100% - 720px) / 2)  + -23px);
  }

  .u-block-d07e-4 {
    right: calc(((100% - 720px) / 2)  + -25px);
  }
}

@media (max-width: 767px) {
  .u-block-d07e-3 {
    left: calc(((100% - 540px) / 2)  + -17px);
  }

  .u-block-d07e-4 {
    right: calc(((100% - 540px) / 2)  + -19px);
  }
}

@media (max-width: 575px) {
  .u-block-d07e-3 {
    left: calc(((100% - 340px) / 2)  + -11px);
  }

  .u-block-d07e-4 {
    right: calc(((100% - 340px) / 2)  + -12px);
  }
}

 .u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1265px;
  margin: 23px auto 0;
}

.u-section-7-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 563px;
}

.u-section-7-1 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-7-1 .u-image-1 {
  filter: brightness(0.75);
  height: 285px;
  margin: 0;
}

.u-section-7-1 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-7-1 .u-text-2 {
  width: 326px;
  margin: 7px auto 0;
}

.u-section-7-1 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-7-1 .u-image-2 {
  filter: brightness(0.75);
  height: 285px;
  margin: 0;
}

.u-section-7-1 .u-text-3 {
  margin: 25px auto 0;
}

.u-section-7-1 .u-text-4 {
  width: 326px;
  margin: 7px auto 0;
}

.u-section-7-1 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-7-1 .u-image-3 {
  filter: brightness(0.75);
  height: 285px;
  margin: 0;
}

.u-section-7-1 .u-text-5 {
  margin: 25px auto 0;
}

.u-section-7-1 .u-text-6 {
  width: 326px;
  margin: 7px auto 0;
}

@media (max-width: 1399px) {
  .u-section-7-1 .u-list-1 {
    width: 1140px;
  }

  .u-section-7-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 507px;
  }

  .u-section-7-1 .u-image-1 {
    height: 257px;
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-7-1 .u-image-2 {
    height: 257px;
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-7-1 .u-image-3 {
    height: 257px;
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-7-1 .u-list-1 {
    width: 940px;
  }

  .u-section-7-1 .u-repeater-1 {
    min-height: 418px;
  }

  .u-section-7-1 .u-image-1 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: -19px;
    margin-left: 0;
  }

  .u-section-7-1 .u-image-2 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7-1 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: -19px;
    margin-left: 0;
  }

  .u-section-7-1 .u-image-3 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7-1 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-right: -19px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-7-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 612px;
  }

  .u-section-7-1 .u-image-1 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7-1 .u-image-2 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7-1 .u-image-3 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1622px;
  }

  .u-section-7-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1599px;
  }

  .u-section-7-1 .u-image-1 {
    height: 275px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-image-2 {
    height: 275px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-image-3 {
    height: 275px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-image-1 {
    height: 173px;
    margin-top: 92px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-image-2 {
    height: 173px;
    margin-top: 92px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-image-3 {
    height: 173px;
    margin-top: 92px;
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1265px;
  margin: 20px auto 0;
}

.u-section-7-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 575px;
}

.u-section-7-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-7-2 .u-image-1 {
  filter: brightness(0.75);
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7-2 .u-text-1 {
  margin: 22px auto 0 15px;
}

.u-section-7-2 .u-text-2 {
  margin: 20px auto 0 15px;
}

.u-section-7-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-7-2 .u-image-2 {
  filter: brightness(0.75);
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7-2 .u-text-3 {
  margin: 22px auto 0 15px;
}

.u-section-7-2 .u-text-4 {
  margin: 20px auto 0 15px;
}

.u-section-7-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-7-2 .u-image-3 {
  filter: brightness(0.75);
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7-2 .u-text-5 {
  margin: 22px auto 0 15px;
}

.u-section-7-2 .u-text-6 {
  margin: 20px auto 0 15px;
}

@media (max-width: 1399px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-7-2 .u-list-1 {
    width: 1140px;
  }

  .u-section-7-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 518px;
  }

  .u-section-7-2 .u-image-1 {
    height: 257px;
  }

  .u-section-7-2 .u-image-2 {
    height: 257px;
  }

  .u-section-7-2 .u-image-3 {
    height: 257px;
  }
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-list-1 {
    width: 940px;
  }

  .u-section-7-2 .u-repeater-1 {
    min-height: 427px;
  }

  .u-section-7-2 .u-image-1 {
    height: 212px;
  }

  .u-section-7-2 .u-image-2 {
    height: 212px;
  }

  .u-section-7-2 .u-image-3 {
    height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-7-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 703px;
  }

  .u-section-7-2 .u-image-1 {
    height: 244px;
  }

  .u-section-7-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7-2 .u-image-2 {
    height: 244px;
  }

  .u-section-7-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7-2 .u-image-3 {
    height: 244px;
  }

  .u-section-7-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7-2 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1582px;
  }

  .u-section-7-2 .u-image-1 {
    height: 275px;
  }

  .u-section-7-2 .u-image-2 {
    height: 275px;
  }

  .u-section-7-2 .u-image-3 {
    height: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 1491px;
  }

  .u-section-7-2 .u-image-1 {
    height: 173px;
  }

  .u-section-7-2 .u-image-2 {
    height: 173px;
  }

  .u-section-7-2 .u-image-3 {
    height: 173px;
  }
}

 .u-section-7-3 {
  background-image: none;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1265px;
  margin: 33px auto 0;
}

.u-section-7-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-7-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-7-3 .u-image-1 {
  filter: brightness(0.75);
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7-3 .u-text-1 {
  margin: 22px auto 0 15px;
}

.u-section-7-3 .u-text-2 {
  margin: 19px 15px 0;
}

.u-section-7-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-7-3 .u-image-2 {
  filter: brightness(0.75);
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7-3 .u-text-3 {
  margin: 22px auto 0 15px;
}

.u-section-7-3 .u-text-4 {
  margin: 19px 15px 0;
}

.u-section-7-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-7-3 .u-image-3 {
  filter: brightness(0.75);
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7-3 .u-text-5 {
  margin: 22px auto 0 15px;
}

.u-section-7-3 .u-text-6 {
  margin: 19px 15px 0;
}

@media (max-width: 1399px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-7-3 .u-list-1 {
    width: 1140px;
  }

  .u-section-7-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 389px;
  }

  .u-section-7-3 .u-image-1 {
    height: 257px;
  }

  .u-section-7-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7-3 .u-image-2 {
    height: 257px;
  }

  .u-section-7-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7-3 .u-image-3 {
    height: 257px;
  }

  .u-section-7-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-list-1 {
    width: 940px;
  }

  .u-section-7-3 .u-repeater-1 {
    min-height: 321px;
  }

  .u-section-7-3 .u-image-1 {
    height: 212px;
  }

  .u-section-7-3 .u-image-2 {
    height: 212px;
  }

  .u-section-7-3 .u-image-3 {
    height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-7-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 588px;
  }

  .u-section-7-3 .u-image-1 {
    height: 244px;
  }

  .u-section-7-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7-3 .u-text-2 {
    margin-left: auto;
  }

  .u-section-7-3 .u-image-2 {
    height: 244px;
  }

  .u-section-7-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7-3 .u-text-4 {
    margin-left: auto;
  }

  .u-section-7-3 .u-image-3 {
    height: 244px;
  }

  .u-section-7-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7-3 .u-text-6 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1323px;
  }

  .u-section-7-3 .u-image-1 {
    height: 275px;
  }

  .u-section-7-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-7-3 .u-image-2 {
    height: 275px;
  }

  .u-section-7-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-7-3 .u-image-3 {
    height: 275px;
  }

  .u-section-7-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 228px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-7-3 .u-list-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-3 .u-image-1 {
    height: 173px;
  }

  .u-section-7-3 .u-text-2 {
    margin-top: 11px;
    margin-right: 28px;
  }

  .u-section-7-3 .u-image-2 {
    height: 173px;
  }

  .u-section-7-3 .u-text-4 {
    margin-top: 11px;
    margin-right: 28px;
  }

  .u-section-7-3 .u-image-3 {
    height: 173px;
  }

  .u-section-7-3 .u-text-6 {
    margin-top: 11px;
    margin-right: 28px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 19px;
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/5a7a35e5d3d76448abe87bd5e3bba977b73f2b4b2fe10010f82bd1c5ce8cc0e6c21db4e54d7813797d3fca2ef50ad8543127140f45ccd71dca671d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 900px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-9 .u-accordion-1 {
  width: 800px;
  margin: 44px auto 0;
}

.u-section-9 .u-accordion-item-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-1 {
  background-image: none;
  font-weight: 300;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-9 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-1 {
  background-image: none;
  min-height: 266px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0 5px;
}

.u-section-9 .u-text-2 {
  margin: 0 209px 0 30px;
}

.u-section-9 .u-text-3 {
  background-image: none;
  margin: 20px 400px 0 30px;
}

.u-section-9 .u-icon-2 {
  font-size: 0.875em;
}

.u-section-9 .u-text-4 {
  background-image: none;
  margin: -176px 30px 64px 408px;
}

.u-section-9 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-2 {
  background-image: none;
  font-weight: 300;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-9 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 280px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 353px;
  height: 235px;
  margin: 15px auto 0 13px;
}

.u-section-9 .u-text-5 {
  font-size: 0.875rem;
  margin: -235px 0 0 379px;
}

.u-section-9 .u-text-6 {
  background-image: none;
  margin: 13px 68px 0 379px;
}

.u-section-9 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-3 {
  background-image: none;
  font-weight: 300;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-9 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-3 {
  min-height: 266px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-7 {
  margin: 0;
}

.u-section-9 .u-text-8 {
  margin: 5px 425px 0 2px;
}

.u-section-9 .u-text-9 {
  margin: -154px 117px 0 auto;
}

.u-section-9 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-9 .u-accordion-link-4 {
  background-image: none;
  font-weight: 300;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-9 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-9 .u-accordion-pane-4 {
  min-height: 291px;
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

.u-section-9 .u-text-10 {
  margin: 11px 43px 0 27px;
}

.u-section-9 .u-text-11 {
  margin: 9px 104px 0 390px;
}

.u-section-9 .u-text-12 {
  margin: -176px auto 0 27px;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 44px auto 60px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-9 .u-accordion-pane-1 {
    min-height: 292px;
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 442px;
    margin-left: 1px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: 80px;
    margin-left: 370px;
  }

  .u-section-9 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-9 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-9 .u-accordion-pane-4 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 641px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-9 .u-accordion-1 {
    width: 720px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 13px;
    margin-left: 357px;
  }

  .u-section-9 .u-image-1 {
    width: 286px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 299px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 299px;
  }

  .u-section-9 .u-accordion-pane-3 {
    min-height: 283px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 347px;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-top: -159px;
    margin-right: 60px;
  }

  .u-section-9 .u-text-10 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-9 .u-text-11 {
    margin-right: 64px;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-9 .u-accordion-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 274px;
  }

  .u-section-9 .u-text-4 {
    margin-top: -220px;
    margin-right: 0;
    margin-left: 266px;
  }

  .u-section-9 .u-text-5 {
    width: 421px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 8px;
    margin-right: 128px;
    margin-left: 60px;
  }

  .u-section-9 .u-accordion-pane-3 {
    min-height: 305px;
  }

  .u-section-9 .u-container-layout-3 {
    padding: 18px 0;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-top: 17px;
    margin-right: 256px;
    margin-left: 10px;
  }

  .u-section-9 .u-text-9 {
    margin-top: -176px;
    margin-right: 0;
    margin-left: 284px;
  }

  .u-section-9 .u-accordion-pane-4 {
    min-height: 342px;
  }

  .u-section-9 .u-text-10 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-9 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 233px;
  }

  .u-section-9 .u-text-12 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-9 .u-accordion-1 {
    width: 340px;
  }

  .u-section-9 .u-accordion-pane-1 {
    min-height: 505px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 74px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 0;
    margin-right: 66px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    width: 340px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-accordion-pane-3 {
    min-height: 505px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    margin-right: 66px;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin: 0 144px -8px 0;
  }

  .u-section-9 .u-accordion-pane-4 {
    min-height: 505px;
  }

  .u-section-9 .u-text-10 {
    margin-top: 30px;
  }

  .u-section-9 .u-text-11 {
    margin-top: 215px;
    margin-right: 23px;
    margin-left: 10px;
  }

  .u-section-9 .u-text-12 {
    margin-top: -370px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 0.75rem;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
  }
}