 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 86px;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 80px;
  margin: 3px auto 0 11px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.29;
  margin: -62px 28px 0 813px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 29px;
  min-height: 16px;
  width: 126px;
  min-width: 88px;
  margin: -39px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -25px auto 13px 172px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 87px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-right: 35px;
    margin-left: 659px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 127px;
    margin-top: -35px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: -38px 696px 26px 179px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-1 .u-image-1 {
    width: 124px;
    height: 81px;
    margin-top: 5px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -61px;
    margin-right: 18px;
    margin-left: 595px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin: -34px 572px 27px 187px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 67px;
  }

  .u-section-1 .u-image-1 {
    width: 119px;
    height: 65px;
    margin-top: 1px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -46px;
    margin-right: -13px;
    margin-left: 462px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -37px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 402px;
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-image-1 {
    width: 131px;
    height: 76px;
    margin-top: 5px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -52px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 275px;
    margin-left: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-1 .u-image-1 {
    width: 95px;
    height: 65px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 32px;
    margin-left: 13px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -47px;
    margin-right: 43px;
    margin-bottom: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 75px;
    margin-left: 108px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Topography.png");
  background-position: 50% 13.45%;
}

.u-section-2 .u-sheet-1 {
  min-height: 560px;
}

.u-section-2 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: 700;
  font-size: 3rem;
  margin: 163px 0 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 0px 0px 22px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 11px 304px 60px 301px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 86px;
  }

  .u-section-2 .u-text-2 {
    width: 715px;
    margin-top: 9px;
    margin-left: 211px;
    margin-right: 214px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 59px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: 111px;
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 68.63% 13.45%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 88.38% 13.45%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 443px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  width: 860px;
  margin: 36px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/71ede44cef9172f16d31e614c4dff6dbd67c06020ea09fba86e8313efb28df78a8d2fe823275a30ff101f23d43730f22277bf1f7e74a1427beb23b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 78px;
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

.u-section-3 .u-image-2 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/94a76bf5723d59cc5626ee6e8e30d415780a5b5aa63efb431c1f8cf8e350e9aa584b0a5eb567a2ba2cdf550dac9569bb3425f747cec7b12f78dc4f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-3 .u-image-3 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Metrologa.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-image-1 {
    min-height: 210px;
  }

  .u-section-3 .u-image-2 {
    min-height: 210px;
  }

  .u-section-3 .u-image-3 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 584px;
}

.u-section-4 .u-group-1 {
  width: 632px;
  min-height: 500px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 84px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 1px 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 50px 37px 0;
}

.u-section-4 .u-custom-html-1 {
  margin: 26px 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 0 37px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  font-weight: normal;
  margin: 55px auto 0;
}

.u-section-4 .u-group-2 {
  width: 687px;
  min-height: 518px;
  margin: -546px auto 28px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-custom-html-2 {
  min-height: 508px;
  width: 669px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 9px auto 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-4 .u-group-1 {
    width: 447px;
    min-height: 447px;
    margin-top: 78px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -483px;
    margin-bottom: 8px;
    margin-left: -20px;
  }

  .u-section-4 .u-custom-html-2 {
    height: auto;
    margin-right: -11px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-4 .u-group-1 {
    width: 666px;
    min-height: 339px;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-group-2 {
    width: 677px;
    margin-top: 17px;
    margin-bottom: 0;
    margin-left: 126px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-4 .u-group-1 {
    min-height: 359px;
    margin-top: 34px;
    margin-right: 18px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-4 .u-group-2 {
    margin-left: auto;
    margin-bottom: 57px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-4 .u-group-1 {
    min-height: 371px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-top: 39px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-custom-html-2 {
    width: 540px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-4 .u-group-1 {
    min-height: 504px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -5px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-top: 31px;
    margin-bottom: 57px;
  }

  .u-section-4 .u-custom-html-2 {
    width: 340px;
  }
}

.u-section-4 .u-group-1,
.u-section-4 .u-group-1:before,
.u-section-4 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-custom-html-2,
.u-section-4 .u-custom-html-2:before,
.u-section-4 .u-custom-html-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-custom-html-2.u-custom-html-2.u-custom-html-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-custom-html-2.u-custom-html-2.u-custom-html-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-custom-html-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-custom-html-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 62px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 9px 0 21px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }
} .u-section-6 {
  background-image: url("images/94a597537342133a4a2d041244c1d4c6bccc60807de5049a6fe9192d1abdfe68bb866f3b5046d6db2da5f643089617b2adc37576d58db530d66dcf_1280.jpg");
  background-position: 50% 2.76%;
}

.u-section-6 .u-sheet-1 {
  min-height: 36px;
}.u-section-7 .u-sheet-1 {
  min-height: 554px;
}

.u-section-7 .u-image-1 {
  width: 312px;
  height: 312px;
  background-image: url("images/ChristopherPhoto.png");
  background-position: 50% 60.5%;
  margin: 57px auto 0 32px;
}

.u-section-7 .u-icon-1 {
  height: 185px;
  width: 185px;
  margin: -249px auto 0 1044px;
  padding: 16px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-size: 1.5rem;
  margin: -175px auto 0 480px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 15px 292px 0 374px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 45px 38px 0 990px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 15px 996px 60px 52px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-7 .u-image-1 {
    width: 207px;
    height: 207px;
    margin-left: 89px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -196px;
    margin-right: 98px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -186px;
    margin-left: 355px;
  }

  .u-section-7 .u-text-2 {
    transition-duration: 0.5s;
    width: auto;
    margin-top: 27px;
    margin-right: 339px;
    margin-left: 355px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 44px;
    margin-left: 803px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -37px;
    margin-right: 811px;
    margin-left: 56px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-7 .u-image-1 {
    width: 236px;
    height: 236px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -210px;
    margin-right: 28px;
  }

  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -211px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    --animation-custom_in-scale: 1;
    margin: 23px 232px 60px 255px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 4px;
    margin-right: 63px;
    margin-left: 762px;
  }

  .u-section-7 .u-text-4 {
    margin: -80px 446px 15px 46px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-7 .u-image-1 {
    width: 190px;
    height: 190px;
    margin-top: 18px;
    margin-left: 27px;
  }

  .u-section-7 .u-icon-1 {
    height: 128px;
    width: 128px;
    margin-top: 52px;
    margin-right: auto;
    padding: 11px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -303px;
    margin-right: 27px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 272px;
  }

  .u-section-7 .u-text-3 {
    width: 285px;
    margin-top: 146px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    margin: -230px 466px 60px 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-7 .u-image-1 {
    width: 212px;
    height: 212px;
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-7 .u-icon-1 {
    height: 134px;
    width: 134px;
    margin-top: 330px;
    margin-right: 193px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -361px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-7 .u-text-2 {
    margin: 15px 48px 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 256px;
    margin-right: 88px;
    margin-left: 336px;
  }

  .u-section-7 .u-text-4 {
    width: 369px;
    margin-top: -564px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-7 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 312px;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: -413px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 165px 33px 44px;
  }

  .u-section-7 .u-text-4 {
    width: 340px;
    margin-top: -863px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.u-section-7 .u-icon-1,
.u-section-7 .u-icon-1:before,
.u-section-7 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-7 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-7 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-7 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-7 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-8 {
  background-image: url("images/94a597537342133a4a2d041244c1d4c6bccc60807de5049a6fe9192d1abdfe68bb866f3b5046d6db2da5f643089617b2adc37576d58db530d66dcf_1280.jpg");
  background-position: 50% 15%;
}

.u-section-8 .u-sheet-1 {
  min-height: 36px;
} .u-section-9 {
  background-image: none;
  min-height: 651px;
}

.u-section-9 .u-image-1 {
  height: 301px;
  object-position: 50% 52.13%;
  margin-top: 350px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-9 .u-layout-wrap-1 {
  width: 1372px;
  margin: -621px auto 30px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 203px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-9 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -1px 2px 0 0;
}

.u-section-9 .u-text-2 {
  font-style: normal;
  margin: 10px 1px 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 110px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-9 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-9 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -1px 1px 0;
}

.u-section-9 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 183px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-9 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-9 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -1px 1px 0;
}

.u-section-9 .u-text-6 {
  margin: 10px 1px 0;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 621px;
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 0 14px;
}

.u-section-9 .u-text-7 {
  font-size: 2.25rem;
  margin: 24px 16px 0;
}

.u-section-9 .u-text-8 {
  font-size: 1rem;
  margin: 16px 17px 0;
}

.u-section-9 .u-image-2 {
  width: 381px;
  height: 229px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px 17px 0 auto;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  font-weight: normal;
  margin: -207px auto 0 99px;
}

@media (max-width: 1399px) {
   .u-section-9 {
    min-height: 746px;
  }

  .u-section-9 .u-image-1 {
    height: 362px;
    margin-top: 381px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 1164px;
    margin-top: -713px;
    margin-left: calc(((100% - 1140px) / 2) + -24px);
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 550px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 955px;
  }

  .u-section-9 .u-image-1 {
    height: 456px;
    margin-top: 499px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -925px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 926px;
  }

  .u-section-9 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 99px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 919px;
  }

  .u-section-9 .u-image-1 {
    height: 399px;
    margin-top: 520px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -890px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 890px;
  }

  .u-section-9 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-image-2 {
    width: 367px;
    height: 220px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 52px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1213px;
  }

  .u-section-9 .u-image-1 {
    height: 606px;
    margin-top: 0;
    background-position: 50% 19.23%;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -552px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 159px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 596px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 9px;
    margin-right: 64px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1668px;
  }

  .u-section-9 .u-image-1 {
    height: 764px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -727px;
    margin-left: calc(((100% - 340px) / 2));
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 222px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 560px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-7 {
    font-size: 2.25rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-image-2 {
    width: 320px;
    height: 192px;
    margin-top: 107px;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 37px;
    margin-right: 46px;
    margin-bottom: -294px;
  }
}

.u-section-9 .u-layout-cell-1,
.u-section-9 .u-layout-cell-1:before,
.u-section-9 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-9 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-9 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-layout-cell-2,
.u-section-9 .u-layout-cell-2:before,
.u-section-9 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-9 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-9 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-layout-cell-3,
.u-section-9 .u-layout-cell-3:before,
.u-section-9 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-9 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-9 .u-container-layout:hover .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-image-1,
.u-section-9 .u-image-1:before,
.u-section-9 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-9 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-9 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-9 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-10 .u-sheet-1 {
  min-height: 750px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 645px;
}

.u-section-10 .u-container-layout-1 {
  padding: 24px 60px;
}

.u-section-10 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 55px auto 0;
  padding: 10px 34px;
}

.u-section-10 .u-image-1 {
  min-height: 645px;
  background-image: url("images/Metrology.png");
  background-position: 56.35% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1399px) {
  .u-section-10 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-10 .u-image-1 {
    min-height: 590px;
  }
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-10 .u-image-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-1 {
    min-height: 352px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    min-height: 528px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-10 .u-image-1 {
    min-height: 332px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 616px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-11 .u-image-1 {
  min-height: 536px;
  background-image: url("images/PesaPatron.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 536px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 31px 0 0;
}

@media (max-width: 1399px) {
  .u-section-11 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-11 .u-image-1 {
    min-height: 419px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 234px;
  }
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-11 .u-image-1 {
    min-height: 345px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-11 .u-image-1 {
    min-height: 529px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-11 .u-image-1 {
    min-height: 397px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .u-section-11 .u-image-1 {
    min-height: 250px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }
}